# Supabase
SUPABASE_URL=https://yqawmzggcgpeyaaynrjk.supabase.co
SUPABASE_KEY=your_supabase_service_role_key_here

# HuggingFace
HUGGING_FACE_ENDPOINT_URL=https://your-endpoint-url.aws.hf.space
HUGGING_FACE_ACCESS_TOKEN=hf_your_token_here
